@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 500px;
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: #454545;
    color: #DEDEDE;
    padding: 20px 40px;
}
.search_wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    padding: 10px 0px;
}
.search_wrapper input{
    margin: 0;
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 10px;
    background-color: #dedede27;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.search_wrapper input::-webkit-input-placeholder{
    color: #DEDEDE;
}
.search_wrapper input:-moz-placeholder{
    color: #DEDEDE;
}
.search_wrapper input::-moz-placeholder{
    color: #DEDEDE;
}
.search_wrapper input:-ms-input-placeholder{
    color: #DEDEDE;
}
.search_wrapper input::-ms-input-placeholder{
    color: #DEDEDE;
}
.search_wrapper input::placeholder{
    color: #DEDEDE;
}
.search_wrapper button{
    position: absolute;
    top: 10px;
    padding: 0px 20px;
    border-radius: 0 10px 10px 0;
    right: 0;
    z-index: 2;
    border: none;
    height: 40px;
    cursor: pointer;
    background: rgb(37,83,201);
    background: linear-gradient(90deg, rgba(37,83,201,1) 0%, 
                rgba(59,137,209,1) 100%);
    color: #DEDEDE;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.synonym_wrapper{
    display: none;
    width: 100%;
    padding: 20px;
}
.wainting_search h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.result_wrapper{
  max-height: 350px;
  overflow-y: auto;
  margin-bottom: 20px;
}
.synonym_wrapper h1{
    font-size: 24px;
}
.synonym_list{
    padding: 10px ;
}
footer .line{
    border-bottom: 0.5px solid #dededea3;
    background-color: #DEDEDE;
    width: 95%;
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;   
    font-size: 12px;
}
footer p a{
    text-decoration: underline;
    color: #DEDEDE;
}
.wainting_search{
  padding: 60px 20px;
}
.error_wrappper{
    display: none;
    padding: 60px 20px;
  }
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading_spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; 
  border-top: 5px solid #383636; 
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner_container {
  padding: 60px;
  display: none;
  justify-content: center;
  align-items: center;
}